/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.main {
  margin: 3rem 0;
}

@media (min-width: 768px) { 
  .main {
    margin: 6rem 0;
  }
}

.hero {
  display: flex;
  flex-direction: column;
  padding: 0 1.5rem;
  max-width: 64rem;
  margin: 0 auto;
}

.hero__image {
  width: 100%;
}

/* 3rem */
 /* 1.5rem; */
.hero__title {
  font-size: 2rem;
}

.hero__subtitle {
  font-size: 1.25rem;
}

@media (min-width: 768px) { 
  .hero {
     flex-direction: row;
  }

  .hero__title-container {
    width: 50%;
    padding-right: 1.5rem;
  }

  .hero__title {
    font-size: 3rem;
  }

  .hero__subtitle {
    font-size: 1.5rem;
  }

  .hero__image {
    width: 50%;
  }
}




.hero__button {
  margin-bottom: 5rem;
}
